<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.log">
  <!--触发器集合-->
  <targets>
    <!--触发器写入文件-->
    <target xsi:type="File" name="FileTarget"
                 fileName="logs/${shortdate}.log"
                 layout="${level}: ${logger}[${threadid}] ${longdate}${newline}       ${message} ${exception}"
                 MaxArchiveFiles="10"/>
    <!--设置文件数量-->
    <!--<target xsi:type="LogStash"
            name="LogStashTarget"
            layout="${level}: ${logger}[${threadid}] ${longdate}${newline}       ${message} ${exception}"
            ConnectionString="log.SAE.rx:9001"
            AppName="BMFT-Log-Debug"/>-->
    <!--请将AppName改为你自己的项目。他是一个唯一标识用于标记应用-->
  </targets>
  <rules>
    <!--默认的日志-->
    <!--此处请勿修改-->
    <!--<logger name="*" level="Trace" writeTo="LogStashTarget" />-->
    <!--以文件的方式收集日志-->
    <logger name="*" minlevel="Trace" writeTo="FileTarget" />
  </rules>
</nlog>