<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">应用</h3>
                <a asp-action="add" class="btn btn-success"><i class="fa fa-plus"></i></a>
            </div>
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-sm-12" id="table_div">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>