<!-- ko if:$data.max > 1 -->
<div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
        <li>
            <a href="#" data-bind="click:function(arg,event){skip($data.index-1,$data,event)}">«</a>
        </li>
        <!-- ko foreach:pagingCompute($data) -->
        <li>
            <a href="#" data-bind="text:$data,click:function(arg,event){ skip(arg,$parent,event);}"></a>
        </li>
        <!-- /ko -->
        <li>
            <a href="#" data-bind="click:function(arg,event){skip($data.index+1,$data,event)}">»</a>
        </li>
    </ul>
</div>
<input name="index" value="1" type="hidden" />
<!-- /ko -->