@section Js{
    <script src="~/content/js/app/index.js"></script>
}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">App</h3>
                    <button data-bind="click:app.event.onAdd" type="button" class="btn btn-success btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-plus-circle"></i>
                    </button>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" data-bind="value:app.searchValue" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default" data-bind="click:app.event.onSearch"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <sae-table params="items:paging.items,keys:app.keys,heads:app.heads,converts:app.converts,events:app.event"></sae-table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <sae-paging params="paging:paging"></sae-paging>
                </div>
            </div>
            <!-- /.box -->
        </div>
        
        
    </div>