<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="hold-transition register-page">
        @RenderBody()
    </div>
    <script src="~/lib/require/require.js" data-main="/js/main.js"></script>
</body>
</html>
