

<table class="table table-hover">
    <thead>
        <tr>
            <th>序号</th>
            <!-- ko foreach:heads -->
            <th  data-bind="html:$data"></th>
            <!-- /ko -->
            <!-- ko if:$component.isEdit||$component.isRemove -->
            <th>
                操作
            </th>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach:items -->
        <tr>
            <th data-bind="text:$index()+1"></th>
            <!-- ko foreach:$component.keys -->
            <td data-bind="html:$root.method.convert($root.method.getValue($parent,$data),$component.converts[$data])"></td>
            <!-- /ko -->
            <!-- ko if:$component.isEdit||$component.isRemove -->
            <td>
                <!-- ko if:$component.isEdit -->
                <button type="button" class="btn  btn-success btn-xs" data-bind="click:$component.events.onEdit"><i class="fa  fa-edit"></i></button>
                <!-- /ko -->
                <!-- ko if:$component.isRemove -->
                <button type="button" class="btn  btn-danger btn-xs" data-bind="click:$component.events.onRemove"><i class="fa fa-times"></i></button>
                <!-- /ko -->
            </td>
            <!-- /ko -->
        </tr>
        <!-- /ko -->
    </tbody>
</table>

