@model Dictionary<string,string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div>
        @foreach (var kv in Model)
        {
            <iframe src="@kv.Value" style="display:none"></iframe>
        }
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(function () {
            window.location.href = "/";
        });
    </script>
</body>
</html>
