<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.log">

  <!--触发器集合-->
  <targets>
    <!--触发器写入文件-->
    <target xsi:type="File" name="FileTarget" fileName="logs/${logger}-${shortdate}.log"
                 layout="${machinename}|${longdate}|${threadid}|${logger}|${uppercase:${level}}|${message}" />

    <target xsi:type="ColoredConsole"
         name="ConsoleTarget"
         useDefaultRowHighlightingRules="true"
         layout="${level}: ${logger}[${threadid}] ${longdate}${newline}       ${message}" />

    <!--日志收集触发器-->
    <target xsi:type="LogStash" name="LogStashTarget"
                 layout="${machinename}|${longdate}|${threadid}|${logger}|${uppercase:${level}}|${message}"
            ConnectionString="log.SAE.rx:9001"
            AppName="BMFT-Log-Debug"/>
    <!--请将AppName改为你自己的项目。他是一个唯一标识用于标记应用-->
  </targets>

  <rules>
    <!--日志收集-->
    <!--<logger name="*" minlevel="Trace" writeTo="LogStashTarget" />-->
    <!--默认的日志-->
    <logger name="*" minlevel="Trace" writeTo="ConsoleTarget" />
  </rules>
</nlog>